@font-face{
  font-family: stixtwotext;
  src: url(./assets/stixtwotext.ttf);
}

*{
  margin: 0;
  padding:0;
}

.guessInput{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.autocomplete {
  position:relative;
  display: inline-block;
}

.autocomplete > input{
  border: 1px solid transparent;
  padding: 10px;
  font-size: 16px;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top : none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #181817;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover{
  background-color: #292928;
}

.autocomplete-active{
  background-color: #1c1b1a;
  color: #181817;
}

body{
  background-image: url(./assets/background.png);
  background-size: cover;
  color: #f6f6f6;
  font-family: stixtwotext, sans-serif;
}

#root{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.attempts{
  text-align: center;
  width: 40vw;
}

.attempt{
  display:grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
  gap: 2rem;
  padding-bottom: 2rem;
}

.attempt > *{
  border-radius: 1rem;
}

.attempt > p, .attempt-features, .attempt-track{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
} 

.correct{
  background-color: #699273;
  color: 
}

.incorrect{
  background-color: #4e4e4e;
}

.almost{
  background-color: #e7ca85;
  color: black; 
}

.attempt-album{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.attempt-album > img{
  width: 5rem;
  height: 5rem;
}

.attempt-track{
  display:flex;
  align-items:center;
  flex-direction: column;
}

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #181817;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 99;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
