@font-face{
  font-family: stixtwotext;
  src: url(./assets/stixtwotext.ttf);
}

*{
  margin: 0;
  padding:0;
}

.guessInput{
  display:flex;
  flex-direction: column;
}

body{
  background-image: url(./assets/background.png);
  background-size: cover;
  color: #f6f6f6;
  font-family: stixtwotext, sans-serif;
}

#root{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.attempts{
  text-align: center;
  width: 40vw;
}

.attempt{
  display:grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
  gap: 2rem;
  padding-bottom: 2rem;
}

.attempt > *{
  border-radius: 1rem;
}

.attempt > p, .attempt-features, .attempt-track{
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
} 

.correct{
  background-color: #699273;
  color: 
}

.incorrect{
  background-color: #4e4e4e;
}

.almost{
  background-color: #e7ca85;
  color: black; 
}

.attempt-album{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.attempt-album > img{
  width: 5rem;
  height: 5rem;
}

.attempt-track{
  display:flex;
  align-items:center;
  flex-direction: column;
}
