@font-face{
  font-family: stixtwotext;
  src: url(./assets/stixtwotext.ttf);
}

#app{
  display:flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
  height:100vh;
}

#logo{
  display:block;
}

*{
  margin: 0;
  padding:0;
}

.guessInput{
  display: inline-block;
  text-align:center;
  
}

.autocomplete, .filter {
  position:relative;
  display: inline-block;
}

.autocomplete > input{
  border: 1px solid transparent;
  padding: 10px;
  font-size: 16px;
}

.autocomplete-items, .filter-items, .filter{
  border: 1px solid #d4d4d4;
}

.filter{
  display:block;
}
    
.autocomplete-items, .filter-items {
  position: absolute;
  border-bottom: none;
  border-top : none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}


.autocomplete-items div, .filter-items div, #filter-display {
  padding: 10px;
  cursor: pointer;
  background-color: #181817;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover, .filter-items div:hover{
  background-color: #292928;
}

.autocomplete-active{
  background-color: #1c1b1a;
  color: #181817;
}

body{
  background-image: url(./assets/background.png);
  background-size: cover;
  color: #f6f6f6;
  font-family: stixtwotext, sans-serif;
}

.attempts{
  padding-top:2rem;
  text-align: center;
  width: 40vw;
  display:grid;
  grid-template-rows: repeat(8, 1fr);
}

#hints{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.hint{
  text-align:center;
  display: flex;
  justify-content:center;
  align-items:center;
  width: 6.5vw;
  height: 6.5vw;
}

.hint > img{
  width:  7rem;
  height: 7rem;
}

.audio-control{
  width: 3.5rem;
  height: 3.5rem;
}

.hint{
  border-radius: 1rem;
}

.used{
  background-color: #e7ca85;
  color: black; 
}

.filter-choice, #filter-display{
  display:flex;
  align-items:center;
  justify-content: space-between;
}

.filter-choice > img, #filter-display > img{
  height: 5rem;
  width:5rem;
}

#dropdown {
  height:2.5rem !important;
  width:2.5rem !important;
}
