.attempts{
  text-align: center;
}

.attempt{
  display:grid;
  grid-template-columns: 2fr 2fr 1fr 1fr 2fr;
  gap: 10px;
}

.correct{
  background-color: green;
}

.incorrect{
  background-color: grey;
}

.almost{
  background-color:yellow;
}

.attempt-album{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.attempt-album > img{
  width: 5rem;
  height: 5rem;
}

.attempt-track{
  display:flex;
  align-items:center;
  flex-direction: column;
}
